@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fixed-top {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  animation-name: slideIn;
}

.navbar {
  transition: slideIn 0.5s ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: both;

  .navbar-toggler {
    outline: none;
    border: none;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .nav-link {
    color: #727272;
    font-weight: 400;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;

    &.active {
      color: black;
    }
  }

  .book-btn {
    background-color: #009dff;
    border: none;
    padding: 12px 26px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: white;
      outline: 1px solid #009dff;
      color: #009dff;
      transition: all 0.3s ease-in-out;
    }
  }
}
